
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Styles.Render("~/Content/css")
    <meta name="viewport" content="width=device-width" />
    <title>Área do Aluno</title>
</head>
<body>
    <div><center>
             <h2>Área do Aluno</h2>
        <br />
        <h4>1. Esta view não está utilizando o layout!</h4>
        <h4>2. Observe a aba "Área do Aluno", a url: /Aluno/Aluno.</h4>
        <h4>3. O título na página "Área do Aluno" deve estar centralizado.</h4>
        <h4>4. Esta view deve estar em um controller em outra área chamada "Aluno".</h4>
        <h4>5. O link "Inicio", que é um botão centralizado, deve retornar para a view principal no controlador principal da área principal!</h4>
        <br />
        <a href="~/Home/Index" type="button" class="btn btn-info">Início</a>
        </center>
    </div>
</body>
</html>
